AppComponent
<app-hello></app-hello>

<div class="card">
  <img src="assets/img/The_Professor.jpg" alt="John" style="width:100%">
  <h1>{{ personal_infor.name }}</h1>
  <p class="title">{{ personal_infor.title }}</p>
  <p>{{ personal_infor.company }}</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button (click) = "handler()">Contact</button></p>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
